@import "../../responsive.scss";
.pieChartBox {
  height: 577px;
  h1 {
    font-size: 28px;
  }
  h1 {
    @include xxl {
      font-size: 24px;
    }
  }

  .chart {
    width: 100%;
    height: 100%;
  }

  .options {
    gap: 9px;
    font-size: 12px;

    .option {
      gap: 12px;

      .title {
        gap: 10px;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
