@import "../../responsive.scss";
@import "../../globals.scss";
.menu {
    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
  
      .title {
        font-size: 18px;
        font-weight: 500;
        color: var(--soft-color) !important;
        text-transform: uppercase;
  
        @include lg{
          display: none;
        }
      }
  
      .listItem {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        color: white;
  
        &:hover {
          background-color:var(--soft-bg) !important ;
        }
  
        .listItemTitle{
            font-size: 15px;
          @include lg{
            display: none;
          }
        }
      }
    }
  }